# App
NODE_ENV=development
PORT=3001
API_PREFIX=api

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/portal_db

# JWT
JWT_SECRET=change_this_to_a_long_random_string_in_production
JWT_EXPIRES_IN=8h

# Cookie
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
JWT_COOKIE_NAME=auth

# ReqRes
REQRES_BASE_URL=https://reqres.in/api
REQRES_TIMEOUT_MS=5000

# CORS
CORS_ORIGIN=http://localhost:3000

# Logging
LOG_LEVEL=info
